<html>

<head>
	<!-- Bootstrap -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/project.css" rel="stylesheet">
	<link href="/css/menubar.css" rel="stylesheet">
	<link href="/css/homepage.css" rel="stylesheet">
	<link href="/css/notifications.css" rel = "stylesheet">
	<meta name="viewport" content="initial-scale=1">

	<title> Edit Your Profile</title>
</head>
<body class = "cbp-spmenu-push">
	<div class = "topbar">
		<div class = "row">
			<div class = "col-xs-2">
				<button type="button" class = "btn btn-default menuButton" id="showLeft">
					<span class="glyphicon glyphicon-th-list icon"></span>
					<span class = "badge">{{numNotifications}}</span>
				</button>
			</div>
			<div class = "col-xs-8">
				<p class = "text-center titleText">Edit Account</p>
			</div>
			<div class = "col-xs-2">
				<button type="button" class="btn btn-default searchButton" id="homeBtn" onclick=" window.location = 'homepage';">
					<span class="glyphicon glyphicon-home icon"></span>
				</button>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div id = "menubar" class="filters">

				<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
					<div class = "col-xs-6 col-xs-4 homeElement">
						<button type="button" class="btn btn-default homeButton" id="homeBtn" onclick=" window.location = 'homepage';">
							<span class="glyphicon glyphicon-home icon"></span>
						</button>
					</div>
					<p> Categories </p>
					<a href="/filteredPage/Books">Books</a>
					<a href="/filteredPage/Crafts">Crafts</a>
					<a href="/filteredPage/Electronics">Electronics</a>
					<a href="/filteredPage/Entertainment">Entertainment</a>
					<a href="/filteredPage/Fashion">Fashion</a>
					<a href="/filteredPage/Home and Garden">Home and Garden</a>
					<a href="/filteredPage/Sports and Recreational Equipment">Sports and Recreational Equipment</a>
					<a href="/filteredPage/Other Goods">Other Goods</a>
					<a href="/filteredPage/Services">Services</a>
					<p> Account </p>
					<a href="/notifications">Notifications
						<span class = "badge badge-error pull-right menu-badge">{{numNotifications}}</span>	
					</a>
					<a href="/sell">Sell Something</a>
					<a href="/editProfile">Edit Account</a>
					<a href="/logout">Logout</a>
				</nav>
		</div>
	<br>
	<div class="belowTopbar">
		<form id="editEmailForm" role="form" method="get" action="/editProfile" >
			<div class="form-group">
				<div class="emailField">
					<div class="row fields">
						<div class="col-xs-3">Email: </div>
						<div class="col-xs-6" id="curEmail">{{user.email}}</div>
						<div class="col-xs-3"><input type ="submit" id="editEmailBtn" class="btn btn-default" value="Edit"></input></div>
					</div>
				</div>
			</div>
		</form>

		<form id="editPasswordForm" role="form" method="get" action="/editProfile" >
			<div class="form-group">
				<div class="passwordField">
					<div class="row fields">
						<div class="col-xs-3">Password: </div>
						<div class="col-xs-6" id="curPassword">{{#each passwordText}} &middot; {{/each}}</div>
						<div class="col-xs-3"><input type ="submit" id="editPasswordBtn" class="btn btn-default" value="Edit"></input></div>
					</div>
				</div>
			</div>
		</form>

		<hr>

		<form id="editAddressForm" role="form" method="get" action="/editProfile">
			<div class="form-group">
				<div class="addressField">
					<div class="row fields">
						<div class="col-xs-3">Street Address: </div>
						<div class="col-xs-6" id="curAddress">{{user.address}}</div>
						<div class="col-xs-3"><input type ="submit" id="editAddrBtn" class="btn btn-default" value="Edit"></input></div>
					</div>
				</div>
			</div>
		</form>

		<form id="editZipForm" role="form" method="get" action="/editProfile">
			<div class="form-group">
				<div class="zipCodeField">
					<div class="row fields">
						<div class="col-xs-3">Zip Code: </div>
						<div class="col-xs-6" id="curZipCode">{{user.zip}}</div>
						<div class="col-xs-3"><input type ="submit" id="editZipBtn" class="btn btn-default" value="Edit"></input></div>
					</div>
				</div>
			</div>
		</form>

		<hr>

		<form id="editAboutMeForm" role="form" method="post" action="/editProfile">
			<div class="form-group">
				<div class="aboutMeField">
					<div class="row fields">
						<div class="col-xs-3">About Me: </div>
						<div class="col-xs-6" id="curAboutMe">{{aboutMeText}}</div>
						<div class="col-xs-3"><input type ="submit" id="editAboutMeBtn" class="btn btn-default" value="Edit"></input></div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="js/bootstrap.js"></script>
	<script src="js/editProfileFields.js"></script>
	<script src="js/menubar.js"></script>

	<!--Google analytics code-->
	<script>
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-48534899-1', 'ayorke-project.herokuapp.com');
  	ga('send', 'pageview');
	</script
</body>
</html>