
<html>
<head>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='82983144-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->


	<!-- Bootstrap -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/project.css" rel="stylesheet">
	<link href="/css/menubar.css" rel="stylesheet">
	<link href="/css/homepage.css" rel="stylesheet">
	<link href="/css/notifications.css" rel = "stylesheet">
	<meta name="viewport" content="initial-scale=1">

</head>

<body class="cbp-spmenu-push">

	{{#if alternative}}
	<div id="topbar" class="topbar topbarWithoutMenu">
		<div class = "row">
			<div class = "col-xs-2 topbarElement">
				<button type="button" class = "btn btn-default menuButton" id="showLeft">
					<span class="glyphicon glyphicon-th-list icon"></span>
					<span class = "badge" id = "notificationIcon">{{numNotifications}}</span>
				</button>
			</div>
			<div class = "balanceAndSearch">
				<div class = "col-xs-8 topbarElement">
					<p class = "text-center titleTextAlternative" id="balance">Balance: {{user.credits}}</p>
					<div class="trial">
					<button type="button" class="btn btn-default dropdown-toggle navbar-btn categoriesDropdown" data-toggle="dropdown">Categories
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="/filteredPage/Books/true">Books</a></li>
						<li><a href="/filteredPage/Crafts/true">Crafts</a></li>
						<li><a href="/filteredPage/Electronics/true">Electronics</a></li>
						<li><a href="/filteredPage/Entertainment/true">Entertainment</a></li>
						<li><a href="/filteredPage/Fashion/true">Fashion</a></li>
						<li><a href="/filteredPage/Home and Garden/true">Home and Garden</a></li>
						<li><a href="/filteredPage/Sports and Recreational Equipment/true">Sports and Recreational Equipment</a></li>
						<li><a href="/filteredPage/Other Goods/true">Other Goods</a></li>
						<li><a href="/filteredPage/Services/true">Services</a></li>
					</ul>
				</div>
				</div>
				<div class = "col-xs-2 topbarElement">
					<div class="search">
						<button type="button" class="btn btn-default dropdown-toggle navbar-btn searchButton" data-toggle="dropdown">
							<span class="glyphicon glyphicon-search icon"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{else}}
	<div id="topbar" class="topbar topbarWithoutMenu">
		<div class = "row">
			<div class = "col-xs-2 topbarElement">
				<button type="button" class = "btn btn-default menuButton" id="showLeft">
					<span class="glyphicon glyphicon-th-list icon"></span>
					<span class = "badge" id = "notificationIcon">{{numNotifications}}</span>
				</button>
				
			</div>
			<div class="balanceAndSearch">
				<div class = "col-xs-8 topbarElement">
					<p class = "text-center titleText" id="balance">Balance: {{user.credits}}</p>
				</div>

				<div class = "col-xs-2 topbarElement">
					<div class="search">
						<button type="button" class="btn btn-default dropdown-toggle navbar-btn searchButton" data-toggle="dropdown">
							<span class="glyphicon glyphicon-search icon"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{/if}}
	<div class="container-fluid">
		<div id = "menubar" class="filters">
			<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
				<div class = "col-xs-6 col-xs-4 homeElement topbarElement">
					<button type="button" class="btn btn-default homeButton" id="homeBtn" onclick=" window.location = 'homepage';">
						<span class="glyphicon glyphicon-home icon"></span>
					</button>
				</div>
				<p> Categories </p>
				<a href="/filteredPage/Books/false">Books</a>
				<a href="/filteredPage/Crafts/false">Crafts</a>
				<a href="/filteredPage/Electronics/false">Electronics</a>
				<a href="/filteredPage/Entertainment/false">Entertainment</a>
				<a href="/filteredPage/Fashion/false">Fashion</a>
				<a href="/filteredPage/Home and Garden/false">Home and Garden</a>
				<a href="/filteredPage/Sports and Recreational Equipment/false">Sports and Recreational Equipment</a>
				<a href="/filteredPage/Other Goods/false">Other Goods</a>
				<a href="/filteredPage/Services/false">Services</a>
				<p> Account </p>
				<a href="/notifications">Notifications
					<span class = "badge badge-error pull-right menu-badge" id = "notificationMenu">{{numNotifications}}</span>	
				</a>
				<a href="/sell">Sell Something</a>
				<a href="/editProfile">Edit Account</a>
				<a href="/logout">Logout</a>
			</nav>
		</div>
		<br>
		<div class="belowTopbar">
			{{#each items}}
			<div id="{{_id}}" class = "outline">
				<div id = "{{_id}}" class = "item carousel">
					<ul>
						<li class="pane1">
							<div class="row">
								<div class="col-xs-12">
									<img src="{{image}}"/>
								</div>
								<div class="row">
									<div class = "col-xs-5 col-xs-offset-1">
										<p class = "text-left">{{description}}</p>
									</div>
									<div class = "col-xs-2 col-xs-offset-3">
										<p class="text-right">${{price}}</p>

									</div>
								</div>
							</div>
						</li>
						<li class="pane2">
							<p class ="description text-center">{{description}}</p>
							<p class="extendedDescription text-center">{{extendedDescription}}</p>
							<p class="price text-center">${{price}}</p>
							<p class="sellerName text-center">Seller: {{sellerName}}</p>
							<button class="btn btn-primary btn-lg buyButton">Buy</button>

						</li>
					</ul>
				</div>
			</div>
			<br>
			{{/each}}
			<!--This div closes container class! This is the last div in the body!-->
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="/js/bootstrap.js"></script>
	<!--<script src="/js/buy.js"></script>-->
	<script src="/js/menubar.js"></script>

	<!--Added for Swiping -->
	<script src="/js/hammer.js"></script>
	<script src="/js/homepage.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="/js/modernizr.js"></script>
	<!--Added for swiping -->
	<script>
	{{#each items}}
	var carousel = new Carousel("#{{_id}}");
	carousel.init();
	{{/each}}
	</script>

<!--Google analytics code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48670832-1', 'ayorke-project.herokuapp.com');
  ga('send', 'pageview');

</script>

</body>
</html>
