
<html>
<head>

	<!-- Bootstrap -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/project.css" rel="stylesheet">
	<link href="/css/menubar.css" rel="stylesheet">
	<link href="/css/homepage.css" rel="stylesheet">
	<link href="/css/notifications.css" rel = "stylesheet">
	<meta name="viewport" content="initial-scale=1">

</head>
<body class="cbp-spmenu-push">
	<div id="topbar" class="topbar topbarWithoutMenu">
		<div class = "row">
			<div class = "col-xs-2 topbarElement">
				<button type="button" class = "btn btn-default menuButton" id="showLeft">
					<span class="glyphicon glyphicon-th-list icon"></span>
					<span class = "badge" id = "notificationIcon">{{numNotifications}}</span>
				</button>
				
			</div>
			<div class="balanceAndSearch">
				<div class = "col-xs-8">
					<p class = "text-center yardsaleText">yardsale</p>
					<div class="balance text-center">
						<p class = "balanceText" id="balance">your yard$  </p>
						<p class = "balanceNum"> {{user.credits}}</p>
					</div>
				</div>

				<div class = "col-xs-2 topbarElement">
					<div class="search">
						<button type="button" class="btn btn-default dropdown-toggle navbar-btn searchButton" data-toggle="dropdown">
							<span class="glyphicon glyphicon-search icon"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div id = "menubar" class="filters">
			<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
				<div class="row">
					<div class = "col-xs-6 homeElement topbarElement">
						<button type="button" class="btn btn-default homeButton" id="homeBtn" onclick=" window.location = '/homepage';">
							<span class="glyphicon glyphicon-home icon"></span>
						</button>
					</div>
				</div>
				<p> Categories </p>
				<a href="/filteredPage/Books/false">Books</a>
				<a href="/filteredPage/Crafts/false">Crafts</a>
				<a href="/filteredPage/Electronics/false">Electronics</a>
				<a href="/filteredPage/Entertainment/false">Entertainment</a>
				<a href="/filteredPage/Fashion/false">Fashion</a>
				<a href="/filteredPage/Home and Garden/false">Home & Garden</a>
				<a href="/filteredPage/Sports and Recreational Equipment/false">Sports & Recreational Equipment</a>
				<a href="/filteredPage/Other Goods/false">Other Goods</a>
				<a href="/filteredPage/Services/false">Services</a>
				<p> Account </p>
				<a href="/notifications">Notifications
					<span class = "badge badge-error pull-right menu-badge" id = "notificationMenu">{{numNotifications}}</span>
				</a>
				<a href="/sell">Sell Something</a>
				<a href="/editProfile">Edit Account</a>
				<a href="/logout">Logout</a>
			</nav>
		</div>
		<br>

			<div class="belowTopbar">
			<p class="searched">{{searchInfo}}</p>
			{{#each items}}
			<div id="{{_id}}" class = "outline shadow">
				<div id = "{{_id}}" class = "item carousel">
					<ul>
						<li class="pane1">
							<div class="row">
								<div class="imageContainer">
									<div class="col-xs-12 productImage">
										<img src="{{image}}"/>
									</div>
								</div>
							</div>
							<div class="toBottom">
								<div class="row">
									<div class="col-xs-9  text-left">
										<p class="text-left description">{{description}}</p>
									</div>
									<div class = "col-xs-3">
										<p class="price">{{price}}</p>
										<p class="yardDollars">yard$</p>
									</div>
								</div>
								<div class="row">
									<div class="dots">
										<p class="cur text-center">&middot;</p>
										<p class="next text-center">  &middot;</p>
									</div>
								</div>
							</div>
						</li>
						<li class="pane2">
							<div class="row">
								<div class="col-xs-4 infoLabel">
									<br>
									<p>seller</p>
								</div>
								<div class="col-xs-8 infoText">
									<br>
									<p>{{sellerName}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4 infoLabel">
									<p>item</p>
								</div>
								<div class="col-xs-8 infoText">
									<p> {{description}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4 infoLabel">
									<p>info</p>
								</div>
								<div class="col-xs-8 infoText">
									<p> {{extendedDescription}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4 infoLabel">
									<p>price</p>
								</div>
								<div class="col-xs-8 infoText">
									<p class="pricePane2">{{price}}</p>
									<p class="yardDollarsPane2">yard$</p>
								</div>
							</div>
							<div class="toBottom">
								<div class="row">
									<div class="col-xs-10 col-xs-offset-1">
										<button class="btn btn-default btn-block btn-lg buyButton tryBuy">buy now</button>
										<br>
									</div>
								</div>
								<div class="row dots">
									<p class="next text-center">  &middot;</p>
									<p class="cur text-center">&middot;</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<br>
			{{/each}}
			<!--This div closes container class! This is the last div in the body!-->
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="/js/bootstrap.js"></script>
	<!--<script src="/js/buy.js"></script>-->
	<script src="/js/menubar.js"></script>

	<!--Added for Swiping -->
	<script src="/js/hammer.js"></script>
	<script src="/js/homepage.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="/js/modernizr.js"></script>
	<!--Added for swiping -->
	<script>
	{{#each items}}
	var carousel = new Carousel("#{{_id}}");
	carousel.init();
	{{/each}}
	</script>


</body>
</html>
