<html>

<head>
	<!-- Bootstrap -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/project.css" rel="stylesheet">
	<link href="/css/menubar.css" rel="stylesheet">
	<link href="/css/homepage.css" rel="stylesheet">
	<link href="/css/notifications.css" rel = "stylesheet">
	<meta name="viewport" content="initial-scale=1">

	<title>Notifications</title>
</head>
<body class = "cbp-spmenu-push">
	<div class = "topbar">
		<div class = "row">
			<div class = "col-xs-2 topbarElement">
				<button type="button" class = "btn btn-default menuButton" id="showLeft">
					<span class="glyphicon glyphicon-th-list icon"></span>
					<span class = "badge" id = "notificationIcon">{{numNotifications}}</span>
				</button>

			</div>
			<div class = "col-xs-8">
				<p class="text-center yardsaleText">yardsale</p>
				<p class="text-center titleText2">notifications</p>
<!-- 				<p class = "text-center titleText">Notifications</p>
 -->		</div>
			<div class = "col-xs-2 topbarElement">
				<button type="button" class="btn btn-default searchButton" id="homeBtn" onclick=" window.location = 'homepage';">
					<span class="glyphicon glyphicon-home icon"></span>
				</button>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div id = "menubar" class="filters">
			<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
				<div class="homeElement topbarElement">
					<button type="button" class="btn btn-default homeButton" id="homeBtn" onclick=" window.location = 'homepage';">
						<span class="glyphicon glyphicon-home icon"></span>
					</button>
				</div>
				<p> Categories </p>
				<a href="/filteredPage/Books/false">Books</a>
				<a href="/filteredPage/Crafts/false">Crafts</a>
				<a href="/filteredPage/Electronics/false">Electronics</a>
				<a href="/filteredPage/Entertainment/false">Entertainment</a>
				<a href="/filteredPage/Fashion/false">Fashion</a>
				<a href="/filteredPage/Home and Garden/false">Home and Garden</a>
				<a href="/filteredPage/Sports and Recreational Equipment/false">Sports and Recreational Equipment</a>
				<a href="/filteredPage/Other Goods/false">Other Goods</a>
				<a href="/filteredPage/Services/false">Services</a>
				<p> Account </p>
				<a href="/notifications">Notifications
					<span class = "badge badge-error pull-right menu-badge" id = "notificationMenu">{{numNotifications}}</span>
				</a>				
				<a href="/sell">Sell Something</a>
				<a href="/editProfile">Edit Account</a>
				<a href="/logout">Logout</a>
			</nav>
		</div>
	</div>

	<div>
		<div class="belowTopbarNotifications">
		{{#each notifications}}
			<!--<div class = "{{seen}}"> CHANGE THIS BACK!!!!!!!!!!-->
			<div class = "{{seen}} notifications">
				<p>{{message}}</p>
				<p class = "date">
					<script>
						var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun",
		    			"Jul", "Aug", "Sept", "Oct", "Nov", "Dec" ];
						var date = new Date('{{date}}');
						date.toDateString();
						var month = monthNames[date.getMonth()];
						var day = date.getDate();
						var hours = date.getHours() + 1;
						var period = "am";
						if (hours > 12) {
							hours = hours - 12;
							period = "pm";
						}
						var minutes = date.getMinutes();
						if (minutes < 10) {
							minutes = "0" + minutes;
						}
						var timeString = hours + ":" + minutes + period;
						//document.write('<p>' + month + ' ' + day + ' at ' + timeString + '</p>');
						document.write(month + ' ' + day + ' at ' + timeString);
					</script>
				</p>
			</div>
		{{/each}}
		</div>
	</div>
	


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="js/bootstrap.js"></script>
	<script src="/js/notification.js"></script>
	<script src="/js/menubar.js"></script>


</body>
</html>