<html>

<head>
	<!-- Bootstrap -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/project.css" rel="stylesheet">
	<link href="/css/menubar.css" rel="stylesheet">
	<link href="/css/homepage.css" rel="stylesheet">
	<link href="/css/notifications.css" rel = "stylesheet">

	<title> Edit Your Profile</title>
</head>
<body class = "cbp-spmenu-push">
	<div class = "topbar">
		<div class = "row">
			<div class = "col-xs-6 col-xs-4">

				<button type="button" class = "btn btn-default menuButton" id="showLeft">
					<span class="glyphicon glyphicon-th-list icon"></span>
					<span class = "badge">{{numNotifications}}</span>
				</button>

			</div>
			<div class = "col-xs-6 col-xs-4">
				<p class = "text-center balanceText">Notifications</p>
			</div>
			<div class = "col-xs-6 col-xs-4">
				<button type="button" class="btn btn-default btn-lg searchButton" id="homeBtn" onclick=" window.location = 'homepage';">
					<span class="glyphicon glyphicon-home icon"></span>
				</button>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		
		<div id = "menubar" class="filters">
				<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
					<p> Categories </p>
					<a href="/filteredPage/Books">Books</a>
					<a href="/filteredPage/Crafts">Crafts</a>
					<a href="/filteredPage/Electronics">Electronics</a>
					<a href="/filteredPage/Entertainment">Entertainment</a>
					<a href="/filteredPage/Fashion">Fashion</a>
					<a href="/filteredPage/Home and Garden">Home and Garden</a>
					<a href="/filteredPage/Sports and Recreational Equipment">Sports and Recreational Equipment</a>
					<a href="/filteredPage/Other Goods">Other Goods</a>
					<a href="/filteredPage/Services">Services</a>
					<p> Account </p>
					<a href="/notifications">Notifications
						<span class = "badge badge-error pull-right menu-badge">{{numNotifications}}</span>
					</a>
					<a href="/sell">Sell Something</a>
					<a href="/editProfile">Edit Account</a>
					<a href="/logout">Logout</a>
				</nav>
			</div>
	<br>
	{{#each notifications}}
	<div class = "{{seen}}">
		<p>{{message}}</p>
		<p>{{seen}}</p>
		<hr>
	</div>
	</br>
	{{/each}}
		

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="js/bootstrap.js"></script>
<script src="/js/notification.js"></script>
<script src="/js/menubar.js"></script>
</body>
</html>